{
  "capabilities": [
    "notification"
  ],
  "description": {{ description | tojson }},
  "name": "{{ service_name }}",
  "service_type": "notification",
  "status": "{{ status | default('ready') }}",
  "tags": {{ tags | tojson }},
  "time_created": "{{ time_created | default('2026-06-19T00:00:00Z') }}",
  "upstream_access_config": {
    "byok": {
      "access_method": "http",
      "base_url": {{ byok_base_url | tojson }}
    },
    "plus": {
      "access_method": "http",
      "base_url": {{ plus_base_url | tojson }}
    }
  }
}
